<header class="">
    <form [formGroup]="currentTimeForm" >
        <label for="hours">
            Hours:
        </label>
        <input id="hours" type="text" formControlName="hours" (ngModelChange)="timeService.updateTime(timeService.currentTime.hours, timeService.currentTime.minutes)" [(ngModel)]="timeService.currentTime.hours">
        
        <label for="minutes">
            Minutes:
        </label>
        <input id="minutes" type="text" formControlName="minutes"  (ngModelChange)="timeService.updateTime(timeService.currentTime.hours, timeService.currentTime.minutes)"  [(ngModel)]="timeService.currentTime.minutes">
    </form>
    <div>
        <a class="previous" (click)="onPrevious()">&laquo; Previous</a>
        <a class="next" (click)="onNext()">Next &raquo;</a>
    </div>
</header>